html,
body {
	height: 100%;/*sticky footer*/
	display: flex;/*sticky footer*/
	flex-direction: column;/*sticky footer*/
	margin: 0;
	scroll-behavior: smooth;
	font-family: 'Montserrat';
	font-weight: 400;
	color: #fff;
	line-height: 1.4;
	font-size: 16px;
 }
html{
	font-size: 10px;
}
body > * {
	flex-shrink: 0;
	/*sticky footer*/
  }
.footer{
	margin-top: auto;/*sticky footer*/
}
button{
	padding: 0;
	display: block;
	max-width: 100%;
	color: #fff;
	border: none;
	cursor: pointer;
	text-align: center;
	font-weight: 500;
	font-size: 16px;
	background-color: #FF8C20;
	font-weight: 500;
}
.container{
	max-width: 1260px;
	margin: 0 auto;
	padding-left: 15px;
	padding-right: 15px;
}
a,
button{
	transition: all .4s ease-in;
}
a:hover,
button:hover{
	transition: all .4s ease-in;
}
.title{
	margin-bottom: 5.5rem;
	font-size: 2.8rem;
	line-height: 1.2;
	text-align: center;
	font-weight: 600;
}
.main{
	margin-top: 123px;
}
.overflow{
	overflow: hidden;
}

/* КНОПКА НА ВВЕРХ */
.btnUp{
    background: #FF8C20;
    color: #fff;
    line-height: 45px;
    height: 50px;
    width: 50px;
    text-align: center;
    position: fixed;
    right: 20px;
    bottom: 20px;
    cursor: pointer;
    opacity: 0;
    font-size: 30px;
    transition: opacity .5s;
    pointer-events: none;
	border-radius: 50%;
  }
  
  .btnUp-visible{
    opacity: 1;
    pointer-events: auto;
  }
